body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background/BG_Gehenna_Collection.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}

.card {
    background-color: rgba(0,0,0,0);
}

.card-header {
    background-color: rgba(15, 8, 54, 0.6);
}

.card-body {
    background-color: rgb(214, 234, 242);
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.nav-tabs .nav-link.active {
    background-color: rgb(214, 234, 242);
    border-color: rgb(214, 234, 242);
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
    border-color: transparent !important;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.ba-type-school {
    border-color: #000;
    background-color: #fff;
    color: #000;
}

#ba-student-school-img {
    border: 1px solid rgb(17, 33, 52);
    border-radius: .25em;
    height: 78px;
    width: auto;
}

#ba-student-class {
    height: 18px;
    width: 80px;
    margin: 4px 4px 0.25rem 4px;
}

.ba-role-info, .ba-type-info, .ba-position-info {
    width: calc(50% - 0.25rem);
    max-height: 38px;
}

.ba-role-info {
    position: relative;
    border: 1px solid rgb(47, 80, 120);
    border-radius: .25em;
    background-color: #fff;
    padding: .375rem .75rem;
    color: rgb(47, 80, 120);
}

.ba-role-info img {
    position: absolute;
    height: 32px;
    width: auto;
    left: 4px !important;
    top: 2px !important;
}

.ba-type-info {
    position: relative;
    border: 1px solid transparent;
    border-radius: .25em;
    padding: .375rem .75rem;
}

.ba-type-info img {
    position: absolute;
    height: 24px;
    width: auto;
    left: 8px !important;
    top: 6px !important;
}

.ba-position-info {
    border: 1px solid rgb(44, 69, 99);
    background-color: rgb(44, 69, 99);
    color: #fff;
    border-radius: .25em;
    padding: .375rem .75rem;
}

.ba-type-weapon {
    font-family: 'Comfortaa';
    height: 78px;
    min-width: 162px;
    border-color: #2f6283;
    border-radius: 0.25em;
    padding: .1rem .25rem !important;
    background-color: rgb(214, 234, 242);
    color: rgb(47, 80, 120);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.ba-type-striker {
    border-color: rgb(246, 75, 35);
    background-color: rgb(246, 75, 35);
    color: #fff;
}

.ba-type-special {
    border-color: rgb(0, 125, 255);
    background-color: rgb(0, 125, 255);
    color: #fff;
}

.ba-type-explosive {
    border-color: rgb(146, 0, 8);
    background-color: rgb(146, 0, 8);
    color: #fff;
}

.ba-type-mystic {
    border-color: rgb(34, 111, 155);
    background-color: rgb(34, 111, 155);
    color: #fff;
}

.ba-type-pierce {
    border-color: rgb(190, 137, 1);
    background-color: rgb(190, 137, 1);
    color: #fff;
}

.ba-type-terrain {
    display: inline-block;
    border: 1px solid transparent;
    border-color: grey;
    border-radius: .25em;
    padding: 2px;
    margin: auto;
}

.ba-student-terrain-icon {
    height: 34px;
    width: 34px;
}

.ba-student-icon {
    height: 74px;
    padding: 3px;
    margin: 0px 0px 0px -10px;
    width: auto;
    object-fit: contain;
    background-image: url("../images/ui/Card_Bg.png");
    background-size: cover;
    cursor: pointer;
}

.ba-item-icon {
    height: 74px;
    padding: 3px;
    margin-bottom: 6px;
    margin-left: -10px;
    width: auto;
    object-fit: contain;
    background-image: url("../images/ui/Card_Bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.ba-skill {
    image-rendering: -webkit-optimize-contrast;
    height: auto;
    width: 70px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ba-skill-red {
    background-image: url("../images/ui/Common_Main_SkillBG_red.png");
}

.ba-skill-yellow {
    background-image: url("../images/ui/Common_Main_SkillBG_yellow.png");
}

.ba-skill-blue {
    background-image: url("../images/ui/Common_Main_SkillBG_blue.png");
}

.ba-skill-panel {
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 0.25rem;
}

.ba-stats {
    background-color: rgb(214, 234, 242);
    border-color: #fff !important;
    border-radius: 0.25rem;
    color: rgb(44, 69, 99);
    table-layout: fixed;
}
.ba-stats td:nth-child(even) {
    font-weight: bold;
}

.ba-skill-emphasis {
    font-weight: bold;
    color: rgb(0, 125, 255);
}

.ba-buff-icon {
    image-rendering: -webkit-optimize-contrast;
    height: 22px;
    margin-top: -4px;
    width: auto;
}

.ba-statpreview-star {
    height: 22px;
    width:auto;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

#ba-student-img {
    position: absolute;
    margin-top: auto;
    max-height: calc(100% - 60px - 1.5rem);
    width: auto;
}

#ba-student-weapon-img {
    width: 100%;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 0.25rem;
}

.ba-student-searchresult-item {
    display: inline-grid;
}

.ba-student-searchresult-grid {
    text-align: center;
    padding-left: 10px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.ba-student-searchresult-groupseparator {
    height: 1px;
    background-color: #dee2e6;
}

.ba-student-lobby {
    position: relative;
}

#ba-student-lobby-img {
    height: 72px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#ba-student-lobby-unlock {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('../images/ui/School_Icon_Schedule_Favor.png');
    background-size: contain;
    text-align: center;
    color: #fff;
    line-height: 40px;
    position: absolute;
    left: 62px;
    top: 42px;
}