body {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}

p {
    white-space: pre-line;
}

.card {
    background-color: rgba(0,0,0,0);
}

.card-header {
    background-color: rgba(15, 8, 54, 0.6);
}

.card-body {
    background-color: rgb(214, 234, 242);
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.card-header .nav-tabs .nav-link.active {
    background-color: rgb(214, 234, 242);
    border-color: rgb(214, 234, 242);
}

.card-header .nav-link {
    color: #fff;
}

.card-header .nav-link:hover {
    color: #fff;
    border-color: transparent !important;
}

.card-header .nav-link.active:hover {
    color: #495057 !important;
    border-color: transparent !important;
}

.modal-header {
    background-color: rgba(15, 8, 54, 0.9);
    color: #fff;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.modal-body {
    /* background-color: rgb(214, 234, 242); */
    background-color: #fff;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
}

#ba-student-modal-page {
    background-color: #fff;
    border-radius: 0.25rem;
}

.nav-link.disabled img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.flex-basis-50 {
    flex-basis: 50%;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    color: #343a40;
    background-color: #fff;
}

.tab-pane {
    background-color: #fff;
}

.theme-dark {
    background-color: #212529;
    color: #ffffff;
}

.theme-dark .tab-pane{
    background-color: #212529 !important;
    color: #ffffff;
}

.drop-shadow {
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.125));
}

#ba-student-background {
    position: fixed;
    top: 56px;
    background: #000 no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 56px);
    z-index: -1000;
}

.ba-type-school {
    border-color: #000;
    background-color: #fff;
    color: #000;
}

#ba-student-school-img {
    /*border: 1px solid rgb(17, 33, 52);*/
    border: 1px solid grey;
    border-radius: .25em;
    height: 78px;
    width: auto;
}

#ba-student-class {
    height: 18px;
    width: 80px;
    margin: 4px 4px 0.25rem 4px;
}

.ba-weapon-rank-tab a {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 0.2rem 0.5rem;
}

.ba-weapon-rank-tab a:hover {
    color: #000;
}

.ba-weapon-rank-tab a.disabled {
    color: #6c757d !important;
}

.ba-role-info, .ba-type-info, .ba-position-info {
    width: calc(50% - 0.25rem);
    max-height: 38px;
    word-wrap: normal;
    cursor: default;
}

.ba-role-info {
    position: relative;
    /* border: 1px solid rgb(47, 80, 120); */
    border: 1px solid grey;
    border-radius: .25em;
    background-color: #fff;
    padding: .375rem .75rem;
    color: rgb(47, 80, 120);
}

.ba-role-info img {
    position: absolute;
    height: 32px;
    width: auto;
    left: 4px !important;
    top: 2px !important;
}

.ba-type-info {
    position: relative;
    border: 1px solid transparent;
    border-radius: .25em;
    padding: .375rem .75rem;
}

.ba-type-info img {
    position: absolute;
    height: 24px;
    width: auto;
    left: 8px !important;
    top: 6px !important;
}

.ba-position-info {
    border: 1px solid rgb(44, 69, 99);
    background-color: rgb(44, 69, 99);
    color: #fff;
    border-radius: .25em;
    padding: .375rem .75rem;
}

.ba-type-weapon {
    height: 78px;
    min-width: 162px;
    border-color: #2f6283;
    border-radius: 0.25em;
    padding: .1rem .25rem !important;
    background-color: rgb(214, 234, 242);
    color: rgb(47, 80, 120);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.ba-type-striker {
    border-color: rgb(246, 75, 35);
    background-color: rgb(246, 75, 35);
    color: #fff;
}

.ba-type-special {
    border-color: rgb(0, 125, 255);
    background-color: rgb(0, 125, 255);
    color: #fff;
}

.ba-type-explosive {
    border-color: rgb(146, 0, 8);
    background-color: rgb(146, 0, 8);
    color: #fff;
}

.ba-type-mystic {
    border-color: rgb(34, 111, 155);
    background-color: rgb(34, 111, 155);
    color: #fff;
}

.ba-type-pierce {
    border-color: rgb(190, 137, 1);
    background-color: rgb(190, 137, 1);
    color: #fff;
}

.ba-type-terrain {
    display: inline-block;
    border: 1px solid transparent;
    border-color: grey;
    border-radius: .25em;
    padding: 2px;
    margin: auto;
}

.ba-student-terrain-icon {
    height: 34px;
    width: 34px;
}

.ba-student-affinity-icon {
    height: 30px;
    width: 30px;
    margin: 6px 2px 2px 2px;
}

.ba-student-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-image: url("../images/ui/Card_Bg.png");
    background-size: cover;
    transition-duration: 300ms;
}

.ba-student-card:hover .ba-student-card-role, .ba-student-card:hover .ba-student-card-star, .ba-student-card:hover .ba-student-card-portrait {
    filter: brightness(70%);
    transition-duration: 300ms;
}

.ba-student-card:hover .ba-student-card-label {
    background-color: #233955cb;
    transition-duration: 300ms;
}

.ba-student-icon {
    position: relative;
    height: 74px;
    padding: 3px;
    margin: 0px 0px 36px -10px;
    width: auto;
    object-fit: contain;
    /* background-image: url("../images/ui/Card_Bg.png");
    background-size: cover; */
    cursor: pointer;
}

.ba-student-card {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.ba-student-card-portrait {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0rem 0.2rem 0.75rem rgba(0,0,0,.15);
    border-radius: 10px;
}

.ba-student-card-label {
    background-color: #32527acb;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    width: 100%;
    height: 28px;
    bottom: 0px;
    left: 0px;
    transition-duration: 300ms;
}

.ba-student-card-label.smalltext {
    font-size: 0.75rem !important;
    line-height: 0.7rem;
}

.ba-student-card-badge {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    height: 24px;
    width: 22px;
    border-radius: 8px 0px 10px 0px;
    align-items: baseline;
    justify-content: center;
}

.ba-student-card-role {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #ffffff;
    height: 24px;
    width: 22px;
    border-radius: 8px 0px 10px 0px;
    align-items: baseline;
    justify-content: center;
}

.ba-student-card-star {
    display: none;
    position: absolute;
    background-color: transparent;
    background: url('../images/ui/Common_Icon_Formation_Star.png') no-repeat center center/contain;
    font-weight: bold;
    color: #000000;
    height: 20px;
    width: 22px;
    font-size: 14px;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.ba-student-search-details .ba-student-card-role, .ba-student-search-details .ba-student-card-star {
    display: flex !important;
}

.ba-student-search-details > .bg-striker {
    border-bottom: #f64b23 3px solid !important;
}

.ba-student-search-details > .bg-special {
    border-bottom: #007dff 3px solid !important;
}

.ba-student-search-details > .bd-explosive {
    border-bottom: #920008 5px solid;
}

.ba-student-search-details > .bd-piercing {
    border-bottom: #be8901 5px solid;
}

.ba-student-search-details > .bd-mystic {
    border-bottom: #289cdf 5px solid;
}

/* .ba-student-search-details > .ba-student-card-label {
    font-size: 0.9rem;
}

.ba-student-search-details > .ba-student-card-label.smalltext {
    font-size: 0.7rem !important;
    line-height: 0.7rem;
} */

.ba-slider-label {
    font-weight: bold;
    min-width: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid lightgrey;
}

/* .ba-skill-cost-label {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    background: url("../images/ui/Combat_CostBg.png") no-repeat center center/contain;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
} */

.ba-gear-icon {
    height: 78px;
    padding: 3px;
    margin-bottom: calc(0.5rem + 4px);
    margin-left: -10px;
    width: auto;
    object-fit: contain;
    background-image: url("../images/ui/Card_Bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.ba-gear-label {
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    right: 0px;
    padding: 0.1rem 0.25rem;
    top: 54px;
    border: 1px solid #d4d9e2;
}

.ba-material-icon {
    height: 64px;
    padding: 3px;
    margin-right: 0.5rem;
    margin-bottom: calc(0.5rem + 4px);
    width: auto;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.ba-material-label {
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    right: 0px;
    padding: 0.1rem 0.25rem;
    top: 40px;
    border: 1px solid #d4d9e2;
    cursor: default;
}

.ba-skill {
    height: auto;
    width: 60px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ba-skill-red {
    background-image: url("../images/ui/Common_Main_SkillBG_red.png");
}

.ba-skill-yellow {
    background-image: url("../images/ui/Common_Main_SkillBG_yellow.png");
}

.ba-skill-blue {
    background-image: url("../images/ui/Common_Main_SkillBG_blue.png");
}

.ba-skill-panel {
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 0.25rem;
}

.ba-stats {
    background-color: rgb(214, 234, 242);
    border-color: #fff !important;
    border-radius: 0.25rem;
    color: rgb(44, 69, 99);
    table-layout: fixed;
}
.ba-stats td:nth-child(even) {
    font-weight: bold;
}

.ba-skill-emphasis {
    font-weight: bold;
    color: rgb(0, 125, 255);
}

.ba-buff-icon {
    image-rendering: -webkit-optimize-contrast;
    position: absolute;
    top: 0px;
    height: 22px;
    width: auto;
}

.ba-statpreview-star {
    height: 22px;
    width:auto;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.ba-bond-icon {
    width: 64px;
    border-radius: 32px;
    height: 64px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0rem 0.2rem 0.75rem rgba(0,0,0,.15);
}

#ba-student-img {
    position: fixed;
    margin-top: auto;
    height: calc(100vh - 60px - 1.5rem);
    width: auto;
}

#ba-student-img-sm {
    position: fixed;
    height: 450px;
    top: 64px;
}

#ba-student-weapon-img {
    width: 100%;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 0.25rem;
}

.ba-student-searchresult-item {
    display: inline-block;
    margin: 0px 4px 8px 4px;
    max-width: 86px;
}

.ba-student-page {
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100vh - 190px);
}

@media(min-width: 576px) {
    .ba-student-searchresult-item {
        max-width: 92px;
    }
}

@media(max-width: 768px) {
    .ba-student-page {
        overflow-y: none;
        scrollbar-width: none;
        max-height: inherit;
        min-height: calc(100vh - 105px)
    }

    .card {
        border: 0px;
        border-radius: 0px;
    }

    .card-header .nav-tabs .nav-link.active {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .card-body {
        background-color: rgb(214, 234, 242);
        border-radius: 0px;
        padding: 0px;
    }

    .card-header {
        transition-duration: 200ms;
        position: sticky;
        top: 55px;
        background-color: #0f083699;
        z-index: 1000;
    }

    .card-header.stuck {
        background-color: #212529;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

    .card-header:first-child {
        border-radius: 0px;
    }

    #ba-student-background {
        height: 600px;
    }
}


@media(min-width: 1200px) {
    .ba-student-searchresult-item {
        max-width: 100px;
    }
}

.ba-student-searchresult-grid {
    text-align: center;
    padding-left: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 0px;
}

.ba-student-searchresult-groupseparator {
    height: 1px;
    background-color: #dee2e6;
}

.ba-student-lobby {
    position: relative;
}

#ba-student-lobby-img {
    height: 78px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url('../images/ui/Card_Bg.png') no-repeat center center/contain;
    padding: 3px
}

#ba-student-lobby-unlock {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('../images/ui/School_Icon_Schedule_Favor.png');
    background-size: contain;
    text-align: center;
    color: #fff;
    line-height: 40px;
    position: absolute;
    left: 65px;
    top: 45px;
}

#ba-student-favoured-item-icon {
    height: 64px;
    padding: 3px;
    background-image: url('../images/ui/Card_Bg.png');
    width: auto;
    margin-right: 4px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#ba-student-favoured-item-rank {
    height: 28px;
    width: auto;
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 42px;
}

/* #ba-skill-materials, #ba-skill-ex-materials {
    min-height: 68px;
} */

#loading-cover {
    width: 100vw;
    height: 100vh;
    padding-top: 50vh;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: rgb(33, 37, 41);
    /*background-image: url("../images/Image_Deco_Circleasd.png");*/
    background-size: 60vh auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.ba-skill-buff, .ba-skill-debuff, .ba-skill-cc, .ba-skill-special {
    position: relative;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    white-space: nowrap;
    cursor: help;
}

.ba-skill-buff {
    background-color: #ff4f321f;
    color: #4b100d;
}

.ba-skill-debuff {
    background-color: #3f9eee1f;
    color: #0c274c;
}

.ba-skill-cc {
    background-color: #af69f61f;
    color: #2f0c4c;
}

.ba-skill-special {
    background-color: #ffc8321f;
    color: #4c260c;
}

.ba-buff-icon-spacer {
    display: inline-block;
    width: 22px;
}

.ba-student-panel {
    background-color: rgb(214, 234, 242);
    border-color: #fff !important;
    border-radius: 0.25rem;
    color: rgb(44, 69, 99);
}

.ba-student-search-group {
    height: 28px;
    /* border-bottom: lightgrey 2px solid; */
}

.ba-col-explosive, .ba-student-search-group-explosive, .ba-student-search-group-light {
    color: #920008;
}

.ba-col-piercing, .ba-student-search-group-piercing, .ba-student-search-group-heavy {
    color: #be8901;
}

.ba-col-mystic, .ba-student-search-group-mystic, .ba-student-search-group-special {
    color: #226f9b;
}

.ba-col-siege {
    color: #7030a0;

}

.ba-student-search-group-striker {
    color: #f64b23;
}

.ba-student-search-group-special {
    color: #007dff;
}