.ba-grid-header {
    text-align: left;
    grid-column: 1/-1;
    order: 0;
    @include flex(start, left);
    align-items: center;

    h3 {
        @extend .title-text;
        display: inline;
        font-weight: 400;
    }

    h4 {
        @include text-clamp(2);
        @include md-down {
            display: none;
        }
    }

    img {
        height: 60px;
    }
}

.selection-grid {

    display: grid;
    gap: var(--var-grid-gap);

    font-size: 0px;
    text-align: center;

    grid-template-columns: repeat(auto-fill, minmax(var(--var-grid-card-width), 1fr));

    &.selection-grid-flex {
        @include flex(center, center);
        flex-wrap: wrap;

        .selection-grid-card {
            margin: 0 !important;
        }
    }

    .grid-text {
        font-size: 1rem;
        grid-column: 1 / -1;
        margin: 0;
    }

    &.student {
        --var-grid-gap: 0.6rem;
        --var-grid-card-width: 100px;
        --var-grid-card-height: 113px;
    }

    &.raid, &.event {
        --var-grid-gap: 0.6rem;
        --var-grid-card-width: 180px;
        --var-grid-card-height: 100px;
    }

    &.stage {
        --var-grid-gap: 0.6rem;
        --var-grid-card-width: 120px;
        --var-grid-card-height: 70px;
    }

    &.enemy {
        --var-grid-gap: 1rem;
        --var-grid-card-width: 120px;
        --var-grid-card-height: 100px;
    }
    
    &.items {
        --var-grid-gap: 0.5rem;
        --var-grid-card-width: 86px;
        --var-grid-card-height: 70px;
    }

    &.items-compact {
        --var-grid-gap: 0.4rem;
        --var-grid-card-width: 64px;
        --var-grid-card-height: 64px;
    }

    &.craft {
        --var-grid-gap: 0.5rem;
        --var-grid-card-width: 86px;
        --var-grid-card-height: 64px;
    }

}

.selection-grid-card {

    position: relative;
    
    margin: auto;

    width: var(--var-grid-card-width);
    height: var(--var-grid-card-height);

    cursor: pointer;

    @include unselectable;

    .card-img {

        position: absolute;

        width: var(--var-grid-card-width);
        height: var(--var-grid-card-height);

        top: 0;
        left: 0;

        border-radius: 10px;
        overflow: hidden;

        @include card-shadow;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center center;

            @include transition(transform, filter);
        }

    }

    .card-bg {
        overflow: hidden;
        border-radius: 10px;
        @include transition(filter);

        div {
            position: relative;

            top: 0;
            left: 0;

            width: var(--var-grid-card-width);
            height: var(--var-grid-card-height);

            filter: blur(4px);
            transform: scale(1.1);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            @include sharp-img;
        }

    }

    .card-badge {
        position: absolute;
        color: #ffffff;

        @include circular;

        z-index: 50;

        &.top-left {
            left: 2px;
            top: 2px;
        }

        &.top-right {
            right: 2px;
            top: 2px;
        }

        img {
            width: 100%;
        }

        &.student-role {
            height: 22px;
            width: 22px;
        }

        &.student-type {
            opacity: 0%;

            height: 18px;
            width: 18px;

            left: 4px;
            top: 4px;
            padding: 3px;

            @include transition(transform, opacity);

            &.atk {
                z-index: 30;
            }

            &.def {
                z-index: 20;
            }

        }

        &.student-rarity {

            opacity: 0%;

            height: 18px;

            left: 4px;
            top: 4px;
            padding: 4px;

            font-size: 10px;
            line-height: 10px;

            z-index: 30;

            color: var(--col-theme-text);
            background-color: var(--col-bg-imglabel);

            @include transition(transform, opacity);
        }

        &.stage-droprate {
            
            background-color: var(--col-bg-imglabel);
            color: var(--col-theme-text);

            padding: 4px;
            z-index: 30;

            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            left: 4px;
            top: 4px;
        }

        &.shop-cost {
            
            background-color: var(--col-bg-imglabel);
            color: var(--col-theme-text);

            padding: 4px 8px;
            z-index: 30;

            img {
                position: absolute;
                top: 0px;
                left: 2px;
                height: 20px;
                width: auto;
            }

            span {
                font-weight: 700;
                margin-left: 18px;
            }
            
            font-size: 12px;
            line-height: 12px;
            left: 4px;
            top: 4px;
        }

        &.enemy-rank {
            border-radius: none;
            top: 4px;
            right: 4px;
        }

        &.enemy-level {

            left: 4px;
            top: 4px;

            font-size: 12px;
            line-height: 12px;
            font-weight: 700;

            //align-items: baseline;
            padding: 4px;

            background-color: var(--col-bg-imglabel);
            color: var(--col-theme-text);
        }

        &.enemy-atk {

            height: 18px;
            width: 18px;

            padding: 3px;

            left: 4px;
            top: 26px;
        }

        &.enemy-def {

            height: 18px;
            width: 18px;

            padding: 3px;

            left: 4px;
            top: 46px;
        }

        &.furniture-interaction {
            top: 2px;
            left: 2px;
            border-radius: none;

            img {
                height: 20px;
            }
        }

        &.equipment-tier {

            left: 3px;
            top: 3px;

            font-size: 12px;
            line-height: 12px;
            font-weight: 700;

            padding: 4px;

            background-color: var(--col-bg-imglabel);
            color: var(--col-theme-text);
        }

        &.raid-def {

            height: 26px;
            width: 26px;

            left: 4px;
            top: 4px;
            padding: 4px;
        }

        &.raid-terrain {
            background-color: var(--col-bg-imglabel);

            height: 26px;
            width: 26px;

            left: 4px;
            top: 34px;
            padding: 0;
        }

    }

    .card-label {

        @include flex(center, center);

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 26px;

        background-color: var(--col-bg-imglabel);
        color: var(--col-theme-text);

        border-radius: 0px 0px 8px 8px;

        &.hover-only {
           display: none;
        }

        .label-text {

            text-align: center;
            //vertical-align: middle;
            padding: 0 0.25rem;

            font-size: 1rem;
            font-weight: 400;

            @include text-clamp(2);

            &.smalltext {
                font-size: 0.75rem;
                line-height: 0.75rem;
                white-space: pre-line;
            }

            &.unhover {
                position: absolute;
                left: 0;
                width: 100%;
                opacity: 100%;
                @include transition(opacity)
            }

            &.hover {
                position: absolute;
                left: 0;
                width: 100%;
                opacity: 0%;
                @include transition(opacity)
            }
            
        }

    }

    // Compact Items

    &.compact {

        @include circular;
        @include transition(filter);

        overflow: hidden;

        &.selected {
            outline: 4px solid var(--col-theme-text);
            outline-offset: -2px;
            @include circular;

            .card-compact {
                background-color: var(--col-bg-imglabel-invert)
            }

        }

        .card-compact {

            padding: 3px;
            height: 100%;
            width: 100%;

            img {

                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }

    &:hover, &:focus, &:active {

        &.card-shop {
            .card-img {
                img {
                    filter: none;
                    transform: none;
                }
            }
        }
        .card-img {

            img {
                filter: brightness(0.75);
                transform: scale(1.15);
                @include sharp-img;
            }
        }

        &.compact {
            filter: brightness(0.7);
        }

        .card-bg {
            filter: brightness(0.75);
        }

        .card-badge {

            &.student-type {

                opacity: 100%;

                &.atk {
                    transform: translateY(22px);
                }

                &.def {
                    transform: translateY(42px);
                }

            }

            &.student-rarity {

                opacity: 100%;
                transform: translateX(22px);

            }

        }

        .card-label {

            &.hover-only {
                display: flex;
            }

            .label-text {

                &.unhover {
                    opacity: 0%;
                }

                &.hover {
                    opacity: 100%;
                }

            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        filter: grayscale(1);
        opacity: 0.5;
    }

    &.selected {
        outline: 5px solid var(--col-theme-text);
        outline-offset: -2px;
        border-radius: 10px;

        .card-label {
            background-color: var(--col-bg-imglabel-invert);
            color: var(--col-btn-active-primary);
        }
    }

    /* Module specific */

    &.card-items {
        .card-img {

            img {
                max-height: 56px;
            }

        }
    }

    &.card-event {

        .card-img {

            img {
                margin-top: 8px;
                height: auto;
            }
        }
    }

    &.card-raid {

        .card-img {

            img {
                object-position: -45px center;
            }

            &.ta-img img {

                width: 75%;
                object-position: center 70% !important;
            }
        }
    }

    &.card-craft {

        .card-img {

            img {
                max-height: 42px;
                object-fit: contain;
            }
        }
    }

    &.card-enemy {

        .card-img img {
            background-color: var(--col-theme-accent);
        }

        &.selected {
            outline: 4px solid var(--col-theme-text);
            outline-offset: -1px;
    
            .card-img img {
                background-color: var(--col-bg-imglabel-invert) !important;
            }

        }

    }

    &.card-shop {

        cursor: default;
    }

}

@include md-down{

    .selection-grid {

        &.student {
            --var-grid-gap: 0.5rem;
            --var-grid-card-width: 80px;
            --var-grid-card-height: 90px;
            margin: 1rem;
        }

        &.raid, &.event {
            --var-grid-gap: 0.5rem;
            --var-grid-card-width: 150px;
            --var-grid-card-height: 85px;
        }

        &.stage {
            --var-grid-gap: 0.5rem;
            --var-grid-card-width: 100px;
            --var-grid-card-height: 65px;
        }

        &.enemy {
            --var-grid-gap: 0.75rem;
            --var-grid-card-width: 100px;
            --var-grid-card-height: 90px;
        }

        &.items {
            --var-grid-gap: 0.4rem;
            --var-grid-card-width: 76px;
            --var-grid-card-height: 60px;
        }

        &.craft {
            --var-grid-gap: 0.4rem;
            --var-grid-card-width: 72px;
            --var-grid-card-height: 56px;
        }

    }

    .selection-grid-card {

        .card-label {

            height: 22px;

            .label-text {

                font-size: 0.85rem;

                &.smalltext {
                    font-size: 0.64rem;
                    line-height: 0.64rem;
                }
            }
        }
    }

}

