@mixin grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

@mixin circular {
    border-radius: 999px !important;
}

@mixin drop-shadow {
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.125));
}

@mixin card-shadow {
    box-shadow: 0 0 0.5rem rgba(0,0,0,.125);
}

@mixin sharp-img {
    // prevent aggressive image filtering when downscaling on chrome
    image-rendering: -webkit-optimize-contrast;
}

@mixin promote-layer {
    will-change: transform;
    transform: translateZ(0);
}

@mixin text-clamp($lines) {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin transition($props...) {
    $transitions: ();
    @each $prop in $props {
        $transitions: append($transitions, $prop ease var(--var-animation-duration) 0s, $separator: comma)
    }
    transition: $transitions;
}

@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-column($align, $justify) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}

@mixin scrollable-nostyle($scroll) {
    overflow-y: $scroll;
}

@mixin scrollable($scroll) {
    overflow-y: $scroll;

    //firefox
    scrollbar-width: thin;
    scrollbar-color: var(--col-panel-separator) transparent;

    @include webkit-scrollbar;
}

@mixin scrollable-xy($scroll) {
    overflow-x: $scroll;
    overflow-y: $scroll;

    //firefox
    scrollbar-width: thin;
    scrollbar-color: var(--col-panel-separator) transparent;

    @include webkit-scrollbar;
}

@mixin webkit-scrollbar {
    //chrome
    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--col-panel-separator);
        background-clip: padding-box;
        border-radius: 99px;
        border: solid 2px transparent;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }
}

@mixin unselectable {
    user-select: none; 
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

@mixin truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//breakpoints

$break-xs: 370px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

@mixin xxs-down() {
    @media only screen and (max-width: ($break-xs - 1px)) {
        @content;
    }
}

@mixin xs-down() {
    @media only screen and (max-width: ($break-sm - 1px)) {
        @content;
    }
}

@mixin sm-down() {
    @media only screen and (max-width: ($break-md - 1px)) {
        @content;
    }
}

@mixin md-down() {
    @media only screen and (max-width: ($break-lg - 1px)) {
        @content;
    }
}

@mixin lg-down() {
    @media only screen and (max-width: ($break-xl - 1px)) {
        @content;
    }
}

@mixin xl-down() {
    @media only screen and (max-width: ($break-xxl - 1px)) {
        @content;
    }
}

@mixin sm-up() {
    @media only screen and (min-width: $break-sm) {
        @content;
    }
}

@mixin md-up() {
    @media only screen and (min-width: $break-md) {
        @content;
    }
}

@mixin lg-up() {
    @media only screen and (min-width: $break-lg) {
        @content;
    }
}

@mixin xl-up() {
    @media only screen and (min-width: $break-xl) {
        @content;
    }
}

@mixin xxl-up() {
    @media only screen and (min-width: $break-xxl) {
        @content;
    }
}