@font-face {
    font-family: "FF6 Font";
    src: url("/lib/font/fffont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    size-adjust: 150%;
}

@font-face {
    font-family: "FF6 Font";
    src: url("/lib/font/fffont.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    size-adjust: 150%;
}

@font-face {
    font-family: "Fusion Pixel LATIN";
    src: url("/lib/font/fusion-pixel-12px-proportional-latin.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel LATIN";
    src: url("/lib/font/fusion-pixel-12px-proportional-latin.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel ZH-HANS";
    src: url("/lib/font/fusion-pixel-12px-proportional-zh_hans.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel ZH-HANS";
    src: url("/lib/font/fusion-pixel-12px-proportional-zh_hans.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel ZH-HANT";
    src: url("/lib/font/fusion-pixel-12px-proportional-zh_hant.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel ZH-HANT";
    src: url("/lib/font/fusion-pixel-12px-proportional-zh_hant.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel JA";
    src: url("/lib/font/fusion-pixel-12px-proportional-ja.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel JA";
    src: url("/lib/font/fusion-pixel-12px-proportional-ja.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel KO";
    src: url("/lib/font/fusion-pixel-12px-proportional-ko.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fusion Pixel KO";
    src: url("/lib/font/fusion-pixel-12px-proportional-ko.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

body.pixel {

    --var-glass-filter: none;
    --var-glass-filter-navbar: none;

    --var-circular-radius: 2px;

    // $window_gradient: linear-gradient(
    //     #7979d6 0% 5%,
    //     #6d6dce 5% 10%,
    //     #6262c6 10% 15%,
    //     #5757bd 15% 20%,
    //     #4b4bb5 20% 25%,
    //     #4242ad 25% 30%,
    //     #3838a5 30% 35%,
    //     #2f2f9c 35% 40%,
    //     #262694 40% 45%,
    //     #1e1e8c 45% 50%,
    //     #171784 50% 55%,
    //     #101079 55% 60%,
    //     #0a0a6d 60% 65%,
    //     #050562 65% 70%,
    //     #020257 70% 75%,
    //     #00004b 75% 80%,
    //     #000042 80% 85%,
    //     #000038 85% 90%,
    //     #00002f 90% 95%,
    //     #000026 95% 100%,
    // );
    
    .card-student  {

        .card-label {
            height: 24px;

            font-size: 12px;
        }
    }

    #ba-background {
        image-rendering: pixelated;
        filter: none;
        transition: none;
    }

    #home-character-img {
        image-rendering: pixelated;
        margin-right: 8px;
    }

    #ba-navbar-logo img {
        image-rendering: pixelated;
        height: 36px;

        @include lg-down {
            height: 26px;
        }
    }

    #ba-profile-portrait-img {
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
        border-radius: 2px !important;
    }

    &, .ba-tooltip {
        font-family: 'FF6 Font', 'Fusion Pixel JA', sans-serif;
        font-style: normal !important;
        font-weight: 400 !important;
        text-shadow: 1px 1px 0 #000;
    }

    .title-text {
        font-family: 'FF6 Font', 'Fusion Pixel JA', sans-serif;
        font-style: normal !important;
        font-weight: 400 !important;
        text-shadow: 2px 2px 0 #000 !important;
    }

    &.font-kr {
        &, .ba-tooltip {
            font-family: 'FF6 Font', 'Fusion Pixel KO', 'Noto Sans KR', sans-serif;
        }

        .title-text {
            font-family: 'FF6 Font', 'Fusion Pixel KO', 'Noto Sans KR', sans-serif;
        }
    }

    &.font-cn, &.font-zh {
        &, .ba-tooltip {
            font-family: 'FF6 Font', 'Fusion Pixel ZH-HANS', 'Noto Sans SC', sans-serif;
        }

        .title-text {
            font-family: 'FF6 Font', 'Fusion Pixel ZH-HANS', 'Noto Sans SC', sans-serif;
        }
    }

    &.font-tw {
        &, .ba-tooltip {
            font-family: 'FF6 Font', 'Fusion Pixel ZH-HANT', 'Noto Sans TC', sans-serif;
        }

        .title-text {
            font-family: 'FF6 Font', 'Fusion Pixel ZH-HANT', 'Noto Sans TC', sans-serif;
        }
    }

    &.font-th {
        &, .ba-tooltip {
            font-family: 'FF6 Font', 'Noto Sans Thai', sans-serif;
        }

        .title-text {
            font-family: 'FF6 Font', 'Noto Sans Thai', sans-serif;
        }
    }

    .card, .modal-content {
        background-color: #21009c;
        
        border-radius: 3px !important;

        border: 2px solid #fff;
        outline: 2px solid #000;
        outline-offset: -3px;
    }

    .modal-content {
        background-color: #21009c;
    }

    .navbar-dark {
        background-color: #21009c !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #000;
        outline: 1px solid #fff;
        
    }

    .ba-panel, .ba-slider-label {
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
        border-radius: 2px !important;
        // border-top: 2px solid #040013;
        // border-bottom: 2px solid #4f2eba;
    }

    .ba-info-pill, .ba-class-main, .ba-class-support {
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
        border-radius: 2px !important;
    }

    .ba-info-pill-s {
        border: 1px solid #fff;
        outline: 1px solid #000;
    }

    .ba-class-main, .ba-class-support {
        border: 1px solid #fff;
        outline: 1px solid #000;
    }

    .nav-link {
        background-color: transparent !important;
        transition: none;

        border: 1px solid transparent;
        outline-offset: -2px;
        border-radius: 2px !important;

        &.active {
            background-color: #00000048 !important;
            border-color: #fff !important;
            outline: 1px solid #000;
            
            color: #fff;
            
        }

        &:hover {
            background-color: #00000048 !important;
            outline: 1px solid #000;
            
        }
    }

    .bg-theme {
        background-color: #00000048;
    }

    .ba-panel-separator {
        border-top: #fff 1px solid;
        outline: 1px solid black;
        min-width: 100%;
    }

    .ba-info-pill {
        border-radius: 2px !important;
    }

    .skill-icon {
        border-radius: 2px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;

        &.plus::after {
            border-radius: 2px !important;
            border: 1px solid #fff;
            outline: 1px solid #000;
            outline-offset: -2px;
        }
    }

    .form-control, .form-select {
        border-radius: 2px !important;
        border: 1px solid #fff !important;
        outline: 1px solid #000;
    }

    .btn-pill {
        padding-left: 1px;
        padding-right: 1px;

        .icon {
            border-radius: 0px !important;

            img {
                border-radius: 0px !important;
            }
        }
    }

    .active-buff .stack-count {
        font-style: normal !important;
    }

    .btn.btn-dark, .btn-pill {
        background: linear-gradient(#312cd6 0 50%, #2920bd 50% 100%);
        border-radius: 2px !important;
        border: 1px solid #fff !important;
        outline: 1px solid #000;
        outline-offset: -2px;

        &:hover {
            background: linear-gradient(#413ce6 0 50%, #3930cd 50% 100%);
        }

        &.active {
            background: linear-gradient(#18108c 0 50%, #070463 50% 100%);
            color: #fff;

            img.invert-light {
                filter: none !important;
            }
        }

        &:active {
            transform: translateY(1px);
        }
    }

    .selection-grid-card {
        &.selected::before {
            border-color: #fff;
            border-radius: 2px !important;
        }

        outline: 1px solid #000;
        outline-offset: -2px;
        border-radius: 2px !important;

        .card-bg {
            border-radius: 2px !important;
        }

        .card-img {
            border-radius: 2px !important;
            border: 1px solid #fff;
        }

        .card-label {
            background: linear-gradient(#312cd6 0 50%, #2920bd 50% 100%);
            color: #fff;
            border: #fff 1px solid;
            border-radius: 0px 0px 3px 3px !important;
        }

        .card-badge {
            font-style: normal;
            border-radius: 4px !important;

            &.student-role, &.student-type, &.enemy-atk, &.enemy-def, &.raid-def, &.raid-terrain {
                border: 1px solid #fff;
                outline: 1px solid #000;
                outline-offset: -2px;
            }

            &.student-rarity, &.stage-droprate, &.shop-cost, &.enemy-level, &.equipment-tier{
                border: 1px solid #fff;
                outline: 1px solid #000;
                outline-offset: -2px;
                background-color: #070463;
            }
        }
    }

    .student-role, .student-type {
        border: 1px solid #000;
        outline-offset: -2px;
    }

    .stat-icon {
        background-color: #00000048;
        border-radius: 2px;

        img {
            opacity: 1;
        }
    }

    .ba-gear-icon, .ba-item-icon, .ba-item-student, .ba-bond-icon, .student-icon, .icon-type, .icon-enemy, .icon-enemy-raid, #student-voice-icon img, .support-stats img, .support-stats::after, .ba-search-img img {
        border-radius: 4px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
    }

    .enemy-select-icon .icon-enemy img {
        transform: none;
    }

    .ba-bond-icon img {
        width: 56px;
        height: 56px;
        margin: 0px !important;
    }

    #ba-student-lobby-img {
        border-radius: 4px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
        object-fit: none;
        object-position: center center;
    }

    .ba-material-label, .bonus-label {
        background-color: #070463;
        font-style: normal;
        border-radius: 4px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
    }

    .label-droptype, .label-qty {
        background-color: #4f2eba;
        font-style: normal;
        border-radius: 4px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
        color: #fff;
    }

    .ba-skill-buff, .ba-skill-debuff, .ba-skill-cc, .ba-skill-special {
        border-radius: 2px !important;
        background-color: transparent;
    }


    .tooltip-inner {
        background-color: #070463 !important;
        border-radius: 2px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;
    }

    .ba-tooltip {

        .ba-tooltip-body {
            border: 1px solid #fff;
            outline: 1px solid #000;
            outline-offset: -2px;
            border-radius: 2px !important;
            background-color: #00000048;
        }
    }
    
    .dropdown-menu, .search-list, #navbar-search-results {
        background-color: #070463 !important;
        border-radius: 2px !important;
        border: 1px solid #fff;
        outline: 1px solid #000;
        outline-offset: -2px;

        .dropdown-item {
            background-color: #070463;

            &:hover, &:focus {
                background-color: #040013;
            }
    
            &:active, &.active {
                color: #fff;
                background-color: #413ce6;
    
            }
        }
    }

    #ba-navbar-search:focus, #navbar-search.has-text #ba-navbar-search {
        background-color: #00000048;
    }

    .search-list-container .search-list .search-list-results .search-list-item, .ba-search-result-item {
        &:hover, &.selected {
            background-color: #413ce6;
            border-radius: 0px;
            color: #fff;
        }
    }

    .input-small .icon {
        top: 3px;
        left: 3px;
        img {
            border-radius: 0px;
        }
    } 

    ::-webkit-slider-thumb {
        background-color: transparent !important;
        background-image: url(../images/ui/pixel/slider.png);
        background-size: cover;
        image-rendering: pixelated;
        width: 24px;
        height: 24px;
        margin-top: -8px;
    }
}


    