#ba-raid-season-rewards {
    .reward-point {
        @include flex(center, left);
        min-width: 120px;
        margin-left: 0.5rem;
        font-weight: 700;
        font-style: italic;
    }

    .season-rewards {
        flex-grow: 1;
        @include flex(center, center);
        flex-wrap: wrap;
        row-gap: 0.5rem;
        margin: 0.5rem 0;
    }
}

#ba-raid-name {
    text-shadow: 0 0 1rem var(--col-theme-textshadow);
}