.stage-map-container {
    @include scrollable-xy(auto);
    
    cursor: grab;

    &.scrolling {
        cursor: grabbing;
    }
}

#ba-stage-map {
    max-height: calc(100vh - 12rem);
}

#ba-stage-modal-map-container {
    @include flex(center, center);
    height: 100%;
}

.stage-map-canvas {
    position: relative;
    margin: auto;

    .ba-stage-map-tile {
        width: 90px;
        height: 90px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        --col-tile: var(--col-map-tile);

        &:hover {
            .ba-stage-map-enemy {
                filter: brightness(0.7);
                transform: scale(1.1);
            }
        }

        .ba-stage-map-enemy {
            width: 120px;
            height: 120px;
            position: absolute;
            left: -10px;
            top: -45px;
            opacity: 1;
            pointer-events: none;
            @include unselectable;
            @include transition(transform, filter);
        }

        &.group-1 {
            --col-tile: var(--col-map-pair-1);
        }
        &.group-2 {
            --col-tile: var(--col-map-pair-2);
        }
        &.group-3 {
            --col-tile: var(--col-map-pair-3);
        }
        &.group-4 {
            --col-tile: var(--col-map-pair-4);
        }
        &.group-5 {
            --col-tile: var(--col-map-pair-5);
        }
        &.group-6 {
            --col-tile: var(--col-map-pair-6);
        }
        &.group-7 {
            --col-tile: var(--col-map-pair-7);
        }

        &.group-0::before {
            opacity: var(--var-tile-default-opacity) !important;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: var(--col-tile);
            -webkit-mask-image: url("../images/stage-tile.svg");
            mask-image: url("../images/stage-tile.svg");
            opacity: 0.7;
        }

        &.hidden-tile {
            &::before {
                opacity: 0.2 !important;
            }
        }

        &.cracked-tile {
            &::before {
                -webkit-mask-image: url("../images/stage-tile-cracked.svg") !important;
                mask-image: url("../images/stage-tile-cracked.svg") !important;
            }
        }

        .start-tile {
            position: absolute;
            bottom: 32px;
            z-index: 500;
            width: 100%;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url('../images/ui/Image_Campaign_Start.png')
        }

        .tile-icon {
            cursor: default;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: var(--col-btn-active-primary);
            width: 70px;
            height: 70px;

            @for $i from 1 through 4 {
                &.group-#{$i} {
                    --col-tile: var(--col-map-pair-#{$i});
                }
            }

            &.lowered::before {
                -webkit-mask-image: url("../images/stage-tile-lowered.svg") !important;
                mask-image: url("../images/stage-tile-lowered.svg") !important;
                opacity: 0.6;
            }

            &.raised::before {
                opacity: 0.6;
            }

            &::before {
                content: "";
                position: absolute;
                width: 70px;
                height: 70px;
                background-color: var(--col-tile);
                -webkit-mask-image: url("../images/stage-tile.svg");
                mask-image: url("../images/stage-tile.svg");
                opacity: 0.3;
            }
            
        }

        .tile-item {
            cursor: default;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--col-theme-text-t);
            color: var(--col-btn-active-primary);
            @include circular;
            font-size: 24px;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
            }

            width: 58px;
            height: 58px;
        }

        .switch-tile {
            &.lowered::before {
                -webkit-mask-image: url("../images/stage-tile-lowered.svg") !important;
                mask-image: url("../images/stage-tile-lowered.svg") !important;
            }

            &::before {
                content: "";
                position: absolute;
                width: 90px;
                height: 90px;
                background-color: var(--col-tile);
                -webkit-mask-image: url("../images/stage-tile.svg");
                mask-image: url("../images/stage-tile.svg");
                opacity: 0.6;
            }
        }

    }
    // .tile-item {
    //     width: 62px;
    //     height: 62px;
    //     position: absolute;
    //     left: 14px;
    //     top: 14px;
    //     opacity: 1;
    //     @include unselectable;
    // }

    .map-info {
        position: absolute;
        bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 500;
        gap: 4px;

        .move-type {
            display: flex;
            align-items: center;
            justify-content: center;
    
            padding: 2px;
            @include circular;
            width: 22px;
            height: 22px;
            background-color: var(--col-btn-secondary);
    
            &.pursuit {
                color: var(--col-map-pair-4);
            }
    
            &.guard {
                color: var(--col-map-pair-3);
            }

            @for $i from 1 through 3 {
                &.team-#{$i} {
                    font-weight: bold;
                    font-style: italic;
                    color: #fff;
                    background-color: var(--col-conquest-team-#{$i});
                }
            }
            
        }

        .def-type {
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 22px;
            height: 22px;
    
            padding: 3px;
            @include circular;
        }
    }

    .unit-grade {
        position: absolute;
        bottom: 34px;
        z-index: 500;
        width: 100%;
        height: 22px;
        color: var(--col-theme-text);
        text-align: center;


        .grade {
            font-size: 12px;
            font-style: italic;
            padding: 0.125rem 0.25rem;
            background-color: var(--col-bg-imglabel);
            @include circular;

            img {
                height:18px;
            }
        }

        &.boss {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url('../images/ui/Image_Campaign_Boss.png')
        }

        &.leader {
            height: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-image: url('../images/ui/Image_Conquest_Leader.png')
        }
    }
}

#ba-stage-name {
    white-space: pre-line;
}

#ba-stage-entrycost {
    @include flex(center, center);
}

.stage-star {
    color: var(--col-text-stars);
}

.enemy-list {
    padding: 0.5rem 0;
    max-height: 348px;
    @include scrollable(auto);
}