// Put all CSS variables for theming here

:root {
    /* Colors */
    --col-theme-glass: rgba(222, 226, 230, 0.6);
    --col-theme-glass-navbar: rgba(222, 226, 230, 0.7);
    --col-theme-glass-modal: rgba(255, 255, 255, 0.7);
    --col-theme-accent: rgba(255, 255, 255, 0.3);
    --col-theme-text: rgb(0, 0, 0);
    --col-theme-text-t: rgba(0, 0, 0, 0.4);
    --col-theme-logo: rgba(0, 107, 255, 1);
    --col-theme-background: rgb(222, 226, 230);

    --col-bg-explosive: rgba(167, 12, 25, 1);
    --col-bg-piercing: rgba(178, 109, 31, 1);
    --col-bg-mystic-t: rgba(33, 111, 156, 1);
    --col-bg-explosive-t: rgba(167, 12, 25, 0.835);
    --col-bg-piercing-t: rgba(178, 109, 31, 0.835);
    --col-bg-mystic: rgba(33, 111, 156, 0.835);
    --col-bg-buff: rgba(255, 79, 50, 0.122);
    --col-bg-debuff: rgba(63, 158, 238, 0.122);
    --col-bg-cc: rgba(175, 105, 246, 0.122);
    --col-bg-status: rgba(255, 200, 50, 0.122);
    --col-bg-normal: hsl(60, 0%, 45%);
    --col-bg-striker: rgba(255, 255, 255, 0.3);
    --col-bg-special: rgba(255, 255, 255, 0.3);
    --col-bg-striker-t: rgba(204, 26, 37, 0.835);
    --col-bg-special-t: rgba(0, 107, 255, 0.835);
    --col-bg-position: rgb(44, 69, 99);
    --col-bg-tooltip: rgb(23, 26, 28);
    --col-bg-tooltip-body: rgba(0, 0, 0, 0.3);
    --col-bg-item-n: rgb(189, 197, 208);
    --col-bg-item-r: rgb(144, 186, 236);
    --col-bg-item-sr: rgb(214, 173, 129);
    --col-bg-item-ssr: rgb(168, 138, 236);
    --col-bg-node-normal: rgb(72, 94, 121);
    --col-bg-node-rare: rgb(162, 125, 39);
    --col-bg-msg-success: rgba(0, 128, 68, 0.5);
    --col-bg-msg-alert: rgba(178, 109, 31, 0.5);
    --col-bg-msg-failure: rgba(204, 26, 37, 0.5);

    --col-text-explosive: rgb(167, 12, 25);
    --col-text-piercing: rgb(178, 109, 31);
    --col-text-mystic: rgb(33, 111, 156);
    --col-text-explosive-t: rgba(167, 12, 25, 0.4);
    --col-text-piercing-t: rgba(178, 109, 31, 0.4);
    --col-text-mystic-t: rgba(33, 111, 156, 0.4);
    --col-text-buff: rgb(75, 16, 13);
    --col-text-debuff: rgb(12, 39, 76);
    --col-text-cc: rgb(47, 12, 76);
    --col-text-status: rgb(76, 38, 12);
    --col-text-striker: rgba(204, 26, 37, 1);
    --col-text-special: rgba(0, 107, 255, 1);
    --col-text-emphasis: rgb(0, 107, 255);
    --col-text-stars: hsl(44, 100%, 48%);
    --col-text-weaponstars: hsl(192, 100%, 48%);
    --col-text-compare-greater: hsl(152, 100%, 25%);
    --col-text-compare-less: hsl(355, 87%, 35%);

    --col-btn-primary: rgb(33, 37, 41);
    --col-btn-secondary: rgb(222, 226, 230);
    --col-btn-secondary-dropdown: rgb(246, 247, 248);
    --col-btn-active-primary: rgb(255, 255, 255);
    --col-btn-active-secondary: rgb(0, 0, 0);
    --col-btn-primary-glow: rgba(0, 0, 0, 0.25);
    --col-panel-separator: rgba(0, 0, 0, 0.25);
    --col-bg-imglabel: rgba(255, 255, 255, 0.855);
    --col-bg-imglabel-invert: rgba(40, 40, 40, 0.835);

    --col-map-tile: rgba(40, 40, 40, 0.75);
    --col-map-pair-1: rgb(167, 12, 25);
    --col-map-pair-2: rgb(0, 107, 255);
    --col-map-pair-3: rgb(178, 109, 31);
    --col-map-pair-4: rgb(0, 128, 68);
    --col-map-pair-5: rgb(162, 105, 255);
    --col-map-pair-6: rgb(252, 95, 48);
    --col-map-pair-7: rgb(0, 163, 204);

    --col-conquest-team-1: #3193bc;
    --col-conquest-team-2: #712614;
    --col-conquest-team-3: #5a236a;
    
    --var-background-brightness: 1;
    --var-glass-filter: blur(4rem);
    --var-glass-filter-navbar: blur(1rem);
    --var-opacity-lightonly: 100%;
    --var-opacity-darkonly: 0%;
    --var-invert-light: invert(1);
    --var-invert-light-hue: 180deg;
    --var-invert-dark: invert(0);
    --var-invert-dark-hue: 0deg;
    --var-animation-duration: 200ms;
    --var-tile-default-opacity: 0.4;
}

.theme-dark {
    --col-theme-glass: rgba(33, 37, 41, 0.578);
    --col-theme-glass-navbar: rgba(33, 37, 41, 0.578);
    --col-theme-glass-modal: rgba(33, 37, 41, 0.478);
    --col-theme-accent: rgba(0, 0, 0, 0.25);
    --col-theme-text: rgb(255, 255, 255);
    --col-theme-text-t: rgba(255, 255, 255, 0.4);
    --col-theme-logo: hsl(188, 100%, 49%);
    --col-theme-background: rgb(33, 37, 41);

    --col-bg-buff: rgba(76, 15, 12, 0.431);
    --col-bg-debuff: rgba(12, 39, 76, 0.439);
    --col-bg-cc: rgba(50, 12, 78, 0.361);
    --col-bg-status: rgba(111, 53, 29, 0.478);
    --col-bg-striker: rgba(204, 26, 37, 1);
    --col-bg-special: rgba(0, 107, 255, 1);
    --col-bg-item-n: rgb(140, 147, 158);
    --col-bg-item-r: rgb(101, 141, 191);
    --col-bg-item-sr: rgb(168, 125, 81);
    --col-bg-item-ssr: rgb(122, 91, 190);
    --col-bg-node-normal: rgb(48, 70, 97);
    --col-bg-node-rare: rgb(139, 101, 16);

    --col-text-explosive: rgb(229, 16, 34);
    --col-text-piercing: rgb(218, 141, 52);
    --col-text-mystic: rgb(45, 150, 210);
    --col-text-explosive-t: rgba(229, 16, 34, 0.4);
    --col-text-piercing-t: rgba(218, 141, 52, 0.4);
    --col-text-mystic-t: rgba(45, 150, 210, 0.4);
    --col-text-buff: rgb(255, 79, 50);
    --col-text-debuff: rgb(63, 158, 238);
    --col-text-cc: rgb(174, 106, 247);
    --col-text-status: rgb(255, 203, 51);
    --col-text-striker: rgb(255, 255, 255);
    --col-text-special: rgb(255, 255, 255);
    --col-text-emphasis: rgb(84, 168, 255);
    --col-text-stars: hsl(44, 100%, 60%);
    --col-text-weaponstars: hsl(192, 100%, 60%);
    --col-text-compare-greater: hsl(152, 100%, 35%);
    --col-text-compare-less: hsl(355, 87%, 48%);

    --col-btn-primary: rgb(222, 226, 230);
    --col-btn-secondary: rgb(33, 37, 41);
    --col-btn-secondary-dropdown: rgb(16, 18, 20);
    --col-btn-active-primary: rgb(0, 0, 0);
    --col-btn-active-secondary: rgb(255, 255, 255);
    --col-btn-primary-glow: rgba(255, 255, 255, 0.25);
    --col-panel-separator: rgba(255, 255, 255, 0.25);
    --col-bg-imglabel: rgba(40, 40, 40, 0.835);
    --col-bg-imglabel-invert: rgba(255, 255, 255, 0.855);

    --col-map-tile: rgba(255, 255, 255, 1);

    --var-background-brightness: 0.85;
    --var-opacity-lightonly: 0%;
    --var-opacity-darkonly: 100%;
    --var-invert-light: invert(0);
    --var-invert-dark: invert(1);
    --var-invert-light-hue: 0deg;
    --var-invert-dark-hue: 180deg;
    --var-tile-default-opacity: 0.7;
}

.high-contrast {
    --col-theme-glass: rgb(222, 226, 230);
    --col-theme-glass-navbar: rgb(222, 226, 230);
    --col-theme-glass-modal: rgb(222, 226, 230);

    --col-bg-msg-success: rgb(0, 128, 68);
    --col-bg-msg-alert: rgb(178, 109, 31);
    --col-bg-msg-failure: rgb(204, 26, 37);

    --col-btn-secondary: var(--col-btn-secondary-dropdown);
    --var-glass-filter: none;
    --var-glass-filter-navbar: none;
}

.high-contrast.theme-dark {
    --col-theme-glass: rgb(33, 37, 41);
    --col-theme-glass-navbar: rgb(33, 37, 41);
    --col-theme-glass-modal: rgb(33, 37, 41);
    --col-bg-tooltip: rgb(16, 18, 20);
}

.reduced-motion {
    --var-animation-duration: 0ms;
}